body {
    background-color: lightgrey;
}

h1, h2 {
    text-align: center;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;  
}

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}