body {
    background-color: rgb(28, 29, 104);
}

h1, h2 {
    text-align: center;
}

h1, h2, p, ul {
    color: white;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;  
}

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}